/* dock条部分开始*/
#dock_bottom { position:absolute;height:70px;bottom:0px;left:50%; z-index:10;}
.dock_container{position:absolute;	z-index:-1;	bottom:0px;	height:50px;}
.dock_container_center{height:100%;
	position: absolute;
	overflow:hidden;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/dock/dock1/bg2.png', sizingMethod='scale');
	background-image:url('bg2.png') !important;
	background-image:none;
	background-repeat: repeat-x;
}
.dock_container_left{height:100%;width:30px;
	position: absolute;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/dock/dock1/bg1.png', sizingMethod='scale');
	background-image:url('bg1.png') !important;
	background-image:none;
	background-repeat: no-repeat;
	overflow:hidden;
}
.dock_container_right{height:100%;width:30px;	
	position: absolute;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/dock/dock1/bg3.png', sizingMethod='scale');
	background-image:url('bg3.png') !important;
	background-image:none;
	background-repeat: no-repeat;
	overflow:hidden;
}

.dock_img{	display:none;}

#dock_bottom .dock{height:70px;top:-6px;}


#docksro {width:23px;z-index:1;height:50px;position:relative;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/dock/dock1/xian.png', sizingMethod='scale');
	background-image:url('xian.png') !important;
	background-image:none;
	background-repeat: no-repeat;
	overflow:hidden;
	}
/* dock条部分结束*/
