{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block css %}
	<link media="all" rel="stylesheet" href="{% static "css/admin.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "css/themes/chrome/window.css" %}" type="text/css" />
{% endblock %}

{% block js %}
	<script src="{% static "js/ui/jquery.ui.core.js" %}" type="text/javascript"></script>
	<script src="{% static "js/ui/jquery.ui.widget.js" %}" type="text/javascript"></script>
	<script src="{% static "js/ui/jquery.ui.mouse.js" %}" type="text/javascript"></script>
	<script src="{% static "js/ui/jquery.ui.draggable.js" %}" type="text/javascript"></script>
	<script src="{% static "js/ui/jquery.ui.position.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.window.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
Dashboard
{% endblock %} 

{% block content %}
<script type="text/javascript">
	$("<h1>TEST</h1>").appendTo("body").window();
</script>
<style type="text/css">
	body {
		background: #f00;
	}
</style>
{% endblock %}
