.vista {
	position: absolute;
}

.vista .left-top {
	position: absolute;
	width: 6px;
	height: 25px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT_TOP.png', sizingMethod='scale');
	background-image:url(images/LEFT_TOP.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .top {
	position: absolute;
	height: 25px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/TOP.png', sizingMethod='scale');
	background-image:url(images/TOP.png) !important;
	background-image:none;
	background-repeat: repeat-x;
}

.vista .right-top {
	position: absolute;
	width: 6px;
	height: 25px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT_TOP.png', sizingMethod='scale');
	background-image:url(images/RIGHT_TOP.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .left {
	position: absolute;
	width: 3px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT.png', sizingMethod='scale');
	background-image:url(images/LEFT.png) !important;
	background-image:none;
	background-repeat: repeat-y;
}

.vista .content {
	position: absolute;
	background-color: #0ff;
}

.vista .right {
	position: absolute;
	width: 3px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT.png', sizingMethod='scale');
	background-image:url(images/RIGHT.png) !important;
	background-image:none;
	background-repeat: repeat-y;
}

.vista .left-bottom {
	position: absolute;
	width: 3px;
	height: 3px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT_BOTTOM.png', sizingMethod='scale');
	background-image:url(images/LEFT_BOTTOM.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .bottom {
	position: absolute;
	height: 3px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/BOTTOM.png', sizingMethod='scale');
	background-image:url(images/BOTTOM.png) !important;
	background-image:none;
	background-repeat: repeat-x;
}

.vista .right-bottom {
	position: absolute;
	width: 3px;
	height: 3px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT_BOTTOM.png', sizingMethod='scale');
	background-image:url(images/RIGHT_BOTTOM.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}
