{% load i18n %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link media="all" rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/ico" />
	<link media="all" rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css" />
	<link media="all" rel="stylesheet" href="{% static "css/superfish.css" %}" type="text/css" />
	{% block css %}{% endblock %}

	<script src="{% static "js/jquery-1.7.1.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/superfish.js" %}" type="text/javascript"></script>
	{% block javascript %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
