.vista {
	position: absolute;
}

.vista .left-top {
	position: absolute;
	width: 15px;
	height: 35px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT_TOP.png', sizingMethod='scale');
	background-image:url(images/LEFT_TOP.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .top {
	position: absolute;
	height: 36px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/TOP.png', sizingMethod='scale');
	background-image:url(images/TOP.png) !important;
	background-image:none;
	background-repeat: repeat-x;
}

.vista .right-top {
	position: absolute;
	width: 15px;
	height: 35px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT_TOP.png', sizingMethod='scale');
	background-image:url(images/RIGHT_TOP.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .left {
	position: absolute;
	width: 16px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT.png', sizingMethod='scale');
	background-image:url(images/LEFT.png) !important;
	background-image:none;
	background-repeat: repeat-y;
}

.vista .content {
	position: absolute;
	background-color: #0ff;
}

.vista .right {
	position: absolute;
	width: 16px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT.png', sizingMethod='scale');
	background-image:url(images/RIGHT.png) !important;
	background-image:none;
	background-repeat: repeat-y;
}

.vista .left-bottom {
	position: absolute;
	width: 16px;
	height: 15px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/LEFT_BOTTOM.png', sizingMethod='scale');
	background-image:url(images/LEFT_BOTTOM.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .bottom {
	position: absolute;
	height: 16px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/BOTTOM.png', sizingMethod='scale');
	background-image:url(images/BOTTOM.png) !important;
	background-image:none;
	background-repeat: repeat-x;
}

.vista .right-bottom {
	position: absolute;
	width: 16px;
	height: 15px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/RIGHT_BOTTOM.png', sizingMethod='scale');
	background-image:url(images/RIGHT_BOTTOM.png) !important;
	background-image:none;
	background-repeat: no-repeat;
}

.vista .close {
	position: absolute;
	width: 43px;
	height: 18px;
	right: 16px;
	top: 8px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/CLOSE.png', sizingMethod='scale');
	background-image:url(images/CLOSE.png) !important;
	background-image:none;
}

.vista .ui-state-hover .close {
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/CLOSE_hover.png', sizingMethod='scale');
	background-image:url(images/CLOSE_hover.png) !important;
	background-image:none;
}

.vista .min {
	position: absolute;
	width: 26px;
	height: 18px;
	right: 83px;
	top: 8px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/min.png', sizingMethod='scale');
	background-image:url(images/min.png) !important;
	background-image:none;
}

.vista .ui-state-hover .min {
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/min_hover.png', sizingMethod='scale');
	background-image:url(images/min_hover.png) !important;
	background-image:none;
}

.vista .max {
	position: absolute;
	width: 24px;
	height: 18px;
	right: 59px;
	top: 8px;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/max.png', sizingMethod='scale');
	background-image:url(images/max.png) !important;
	background-image:none;
}

.vista .ui-state-hover .max {
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/css/themes/vista/images/max_hover.png', sizingMethod='scale');
	background-image:url(images/max_hover.png) !important;
	background-image:none;
}

.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; }
.ui-resizable-s { cursor: s-resize; }
.ui-resizable-e { cursor: e-resize; }
.ui-resizable-w { cursor: w-resize; }
.ui-resizable-se { cursor: se-resize; }
.ui-resizable-sw { cursor: sw-resize; }
.ui-resizable-nw { cursor: nw-resize; }
.ui-resizable-ne { cursor: ne-resize; }
